body {
  background-image: url('https://i.pinimg.com/originals/d6/6c/56/d66c5620184cc7dcf07c22ade7a758a6.jpg'); /* Replace with a background image */
  background-size: cover;
  background-position: center;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transition: transform 0.9s ease; /* Adds a transition for the transform property */
}

body:hover {
  transform: scale(1.25); /* Scales the background image slightly on hover */
}

.content {
  text-align: center;
}

.info {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.info h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  font-size: 1em;
  margin-bottom: 40px;
}

button {
  background-color: rgb(195, 99, 21); /* Replace with desired primary color */
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: rgba(0, 0, 255,)
}

